@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: Montserrat;
    text-align:center;
    font-weight: bold;
    margin:0;
    padding:0;  
    background-color:#1434A4 ;
    color: #F1D302;
    
}

.parent{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.container{
    flex-direction: column;
    align-items: center;
    margin : auto;
    padding: 1rem; 
    width : 50vw;
    display : flex;
    border-radius: 0.5rem;
}

textarea{
    width:600px;
    height:10vh;
    margin: 2rem;
    padding-top:1.5rem;
    text-align:center;
    font-size: 1rem;
    border-radius:1rem;
    outline:none;
}

.translatebtn{
    width:10rem;
    padding:0.5rem;
    margin-bottom: 1rem;
    border-radius:0.5rem;
    border:none;
    outline:none;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width : 100%;
    bottom:0;
}

.footer_icon{
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.5rem;
}

@media(max-width:940px){
    h1{
        font-size: 21px;
        font-weight:bolder;
    }
    textarea{
        width:330px;
        text-align: center;
    }
}